.row {
    display: flex;
    flex-direction: row;
    margin-top:30px;
    margin-bottom: 25px;
}

.ava {
    margin-right: 30px;
}

.name{
    font-size: 30px;
    color: #222;
    margin-bottom: 20px;
}

.instrustion {
    font-size: 20px;
}

.CAT {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

ul {
    list-style-type: circle;
    margin-left: 30px;
}

.title2 {
    margin-top: 15px;
    margin-bottom: 15px;
}