.Show{
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    border: 1px solid;
    width: 260px;
    height: 240px;
    margin: 20px;
}

.title {
    width: 100px;
    margin: 0 auto;
}

.ava {
    width: 150px;
    height: 200px;
}

.row {
    display: flex;
    flex-direction: row;
}

.c3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}