.Sign {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.Sign button {
    background-color: #e86bcf; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 10px;
    outline: none;
}

.SignIn {
    margin-left: 10px;
    margin-right: 30px;
}